---
apiVersion: v1
kind: Namespace
metadata:
  name: rook-chubao
---
apiVersion: chubao.rook.io/v1alpha1
kind: ChubaoCluster
metadata:
  name: mycluster
  namespace: rook-chubao
spec:
  cfsVersion:
    serverImage: chubaofs/cfs-server:0.0.1
  dataDirHostPath: /var/lib/rook
  logDirHostPath: /var/log/rook
  master:
    metanodeReservedMem: 67108864
  metaNode:
    totalMem: 524288000 
  dataNode:
    disks:
      - /data0:52428800
